#NameGru
{
   float:left;
   margin-left:.5rem;
   /*background:Red;*/
}
#NameArt
{
   float:right;
   margin-right:.5rem;
   /*background:magenta;*/
}

#KwinGallery,#WorkTiny,#FooterTiny
{
   margin:0;
   padding:0;
   border:0;
   vertical-align:baseline;
}
/* Раскрашиваем дивы */
#KwinGallery{background:LightCyan;}
#WorkTiny{background:GhostWhite;}
#FooterTiny{background:LightYellow;}
/* Позиционируем секции области редактирования */
#KwinGallery
{
   position:fixed; 
   top:0;
   right:0;
   overflow:auto;
}
#WorkTiny
{
   position:fixed; 
   left:0;
   top:0;
   overflow:auto;
}
#FooterTiny
{
   position:fixed; 
   left:0;
   overflow:auto;
}

/* Настраиваем рабочую область Tiny */
#frmTinyText
{
   margin-top:1rem;
   width:100%;
   height:99%;
}
#mytextarea
{
   height:100%;
}

/* Устанавлиаем стили при назначении статьи */


.form-group 
{
   position: relative;
   top: 10%;
   left: 2%;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.user,
.pwd 
{
  position: absolute;
  display: block;
  width: 80%;
  height: 30px;
  background: #fff;
  font-size: 10pt;
  text-transform: capitalize;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.user:focus, .user:active:focus,
.pwd:focus,
.pwd:active:focus {
  outline: none;
  padding-left: 30px;
}

.user {
  /*margin-bottom: 10%;*/
  z-index: 2;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.pwd {
  margin-top: 7%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#inSub
{
  margin-top: 14%;
}


