*, *:before, *:after 
{
   -webkit-border-sizing: border-box;
   -moz-border-sizing: border-box;
   border-sizing: border-box;
}
.container > ul 
{
   list-style: none;
   padding: 0;
}
.dropdown 
{
   position: relative;
}
.dropdown a 
{
   text-decoration: none;
}
.dropdown [data-toggle="dropdown"],
.dropdown [data-toggle="dropdownA"]
{
   display: block;
   color: white;
   font-size: 1.9rem;
	background:#C2A273;
	-webkit-box-shadow:inset 0 .1rem 0 0 rgba(255,255,255,.1), 0 .1rem 0 0 rgba(0,0,0,.1);
	-moz-box-shadow:inset 0 .1rem 0 0 rgba(255,255,255,.1), 0 .1rem 0 0 rgba(0,0,0,.1);
	box-shadow:inset 0 .1rem 0 0 rgba(255,255,255,.1), 0 .1rem 0 0 rgba(0,0,0,.1); 
   padding: 6px;
   cursor: alias;
}
/**
 * Подключаем лампочку (вертим в начальное положение очень быстро)
**/
.dropdown > [data-toggle="dropdown"]:before 
{
   position: absolute;
   display: block;
   cursor: pointer;
   font-family: FontAwesome;
   content: '\f2dc';
   font-size: 2.6rem;
   color: white; 
   font-weight: 600; 
   text-align: center;
   top: .4rem;
   right: 6px; 
   hight: 2.6rem;
   width: 2.6rem;
   transform-origin: 50% 50% 0
   
   -moz-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
   -moz-transition: -moz-transform 0s;
   -o-transition: -o-transform 0s;
   -webkit-transition: -webkit-transform 0s;
   transition: transform 0s;
}
.dropdown span 
{
   position: absolute;
   display: block;
   cursor: pointer;
   top: 4px;
   right: 6px;
   font-family: FontAwesome;
   font-size: 26px;
   font-weight: 600; 
   text-align: center;
   
   /*
   hight: 26px;
   width: 26px;
   */

   /*
   font-size: 2.6rem;
   color: white; 
   font-weight: 600; 
   text-align: center;
   top: .4rem;
   right: 6px; 
   hight: 2.6rem;
   width: 2.6rem;
   */
   transform-origin: 50% 50% 0
   
   -moz-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
   -moz-transition: -moz-transform 0s;
   -o-transition: -o-transform 0s;
   -webkit-transition: -webkit-transform 0s;
   transition: transform 0s;
}
.dropdown span:hover 
{
   -moz-transform: rotate(21420deg);
   -ms-transform: rotate(21420deg);
   -webkit-transform: rotate(21420deg);
   transform: rotate(21420deg);
   -moz-transition: -moz-transform 60s;
   -o-transition: -o-transform 60s;
   -webkit-transition: -webkit-transform 60s;
   transition: transform 60s;
}
/**
 * Вертим лампочку 1 минуту по часовой стрелке, когда на чекбокс кликнули 
**/
.dropdown > input[type="checkbox"]:checked + a[data-toggle="dropdown"]:before 
{
   -moz-transform: rotate(21420deg);
   -ms-transform: rotate(21420deg);
   -webkit-transform: rotate(21420deg);
   transform: rotate(21420deg);
   -moz-transition: -moz-transform 60s;
   -o-transition: -o-transform 60s;
   -webkit-transition: -webkit-transform 60s;
   transition: transform 60s;
}
/** 
 * Скрываем, но размазываем чекбокс по ссылке, 
 * чтобы вызов всегда срабатывал. 
 * Указатель на чекбоксе устанавливаем.
**/ 
.dropdown > input[type="checkbox"] 
{
   opacity: 0;
   display: block;
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   cursor: alias;
}
/** 
 * Устанавливаем указатель на выключение чекбокса 
**/ 
.dropdown > input[type="checkbox"]:checked
{
   cursor: not-allowed;
}
/**
 * НАСТРАИВАЕМ ЛЕВУЮ ЧАСТЬ ЭКРАНА
**/ 
#ControlDiv
{
   position: absolute;
   top: 10rem;
   left: 0;
   padding: 5px;
   height: 80%;
   width: 50%;
	background: magenta;
}
/**
 * НАСТРАИВАЕМ ПРАВУЮ ЧАСТЬ ЭКРАНА
**/ 
#TestsDiv
{
   position: absolute;
   top: 10rem;
   right: 0;
   padding: 5px;
   height: 80%;
   width: 50%;
	background: transparent; /*teal;*/
}
